* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    text-decoration: underline;
}

img {
    height: auto;
    width: 400px;
}

caption {
    font-style: italic;
}

li {
    text-align: left;
    font-style: italic;
}